<div id="user-gallery-page">
    <div class="user-gallery">
        <span id="image-id" image-id="{{ gallery.id }}" style="display: none;" /></span>
        <h2></h2>
        <div class="arrow-left-white"></div>
        <div class="arrow-right-white"></div>
        <img src="{{ asset('img/spinner.gif')}}"/>
    </div>
    <ul id="comment-links" class="horizontal">
        <li>
            <a href="{{ path('CDEContentBundle_gallery_account_update', { 'id': '999999999' }) }}">Update</a>
        </li>
        <li>
            <a href="{{ path('CDEContentBundle_gallery_account_delete', { 'id': '999999999' }) }}">Delete</a>
        </li>
        <li>
            <a href="{{ path('CDEContentBundle_gallery_account_create') }}">New</a>
        </li>
        <li id="gallery-count">
            
        </li>
    </ul>
    <div class="description">
        <h2></h2>
        <p></p>
    </div>
    <form action="{{ path('CDEContentBundle_gallery_account_index', { 'id': '999999999'}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Comment" />
    </form>
    <h2 id="comments-title">Comments</h2>
    <div class="comments">
<!-- Reformat this prototype at will.  Just maintain the dollar signs for the JS to parse it -->
        <div id="comment-prototype" style="display: none;">
            <h3>$$user$$</h3>
            <h6>$$date$$</h6>
            <span>$$comment$$</span>
        </div>
    </div>
</div>