<hr>
<br>
<h5>Sort By:</h5>
<ul>
    <li>ID: {{ knp_pagination_sortable(galleries, 'Asc', 'l.id', {'direction': 'asc'}) }} / {{ knp_pagination_sortable(galleries, 'Desc', 'l.id', {'direction': 'desc'}) }}</li>
    <li>Updated: {{ knp_pagination_sortable(galleries, 'Asc', 'l.updated', {'direction': 'asc'}) }} / {{ knp_pagination_sortable(galleries, 'Desc', 'l.updated', {'direction': 'desc'}) }}</li>
    <li>Created: {{ knp_pagination_sortable(galleries, 'Asc', 'l.created', {'direction': 'asc'}) }} / {{ knp_pagination_sortable(galleries, 'Desc', 'l.created', {'direction': 'desc'}) }}</li>
</ul>

<table class="data-table" id="gallery-table">
    <thead>
        <tr>
            <th class="sortable alpha">user</th>
            <th class="sortable numeric">id</th>
            <th class="sortable alpha">title</th>
            <th class="sortable alpha">description</th>
            <th class="sortable alpha">filename</th>
            <th class="desc sortable date">created</th>
            <th class="sortable date">updated</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>
                    <a href="{{ path('CDEUserBundle_view', { 'id': gallery.user.id }) }}">{{ gallery.user }}</a>
                </td>
                <td>
                    <a href="{{ path('CDEContentBundle_gallery_view', { 'id': gallery.id }) }}">{{ gallery.id }}</a>
                </td>
                <td>
                    <a href="{{ path('CDEContentBundle_gallery_view', { 'id': gallery.id }) }}">{{ gallery.title }}</a>
                </td>
                <td>
                    {{ gallery.description }}
                </td>
                <td>
                    {{ gallery.filename }}
                </td>
                <td>
                    {{ gallery.created|date('m/d/y') }}
                </td>
                <td>
                    {{ gallery.updated|date('m/d/y') }}
                </td>
                <td>
                    <a href="{{ path('CDEContentBundle_gallery_delete', { 'id': gallery.id }) }}">delete</a>
                </td>
                <td>
                    <a href="{{ path('CDEContentBundle_gallery_update', { 'id': gallery.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100%">{{ knp_pagination_render(galleries) }}</td>
        </tr>
    </tfoot>
</table>