{% extends '::base.html.twig' %}

{% block bottomNav %}
    <a href="{{ path('CDEUserBundle_address_update', { 'id': address.id }) }}">
        <li>
            Back to Address Edit
        </li>
    </a>
    <a href="{{ path('CDEUserBundle_account_view') }}">
        <li>
            Back to Account
        </li>
    </a>
{% endblock %}
{% block main %}
    <h1>Are you sure you want to delete {{ address }}?</h1>
    <form action="{{ path('CDEUserBundle_address_delete', { 'id': address.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Delete" />
    </form>
{% endblock %}
