{% extends '::admin.html.twig' %}

{% block bottomNav %}
{% endblock %}

{% block main %}
  <h2>This is administration.  Beware.</h2>
    <ul class="front-nav button-list">
        <a href="{{ path('CDEContentBundle_index')}}"><li>Content</li></a>
        <a href="{{ path('CDEContentBundle_gallery_index')}}?sort=l.id&direction=desc"><li>Galleries</li></a>
        <a href="{{ path('CDEUserBundle_index')}}?sort=l.id&direction=desc"><li>Users</li></a>
        <a href="{{ path('CDEUserBundle_address_index')}}?sort=l.id&direction=desc"><li>Addresses</li></a>
        <a href="{{ path('CDESubscriptionBundle_index')}}?sort=l.id&direction=desc"><li>Subscriptions</li></a>
        <a href="{{ path('CDECartBundle_product_index')}}"><li>Products</li></a>
        <a href="{{ path('CDECartBundle_transaction_index')}}?sort=l.id&direction=desc"><li>Transactions</li></a>
        <a href="{{ path('CDECartBundle_discount_index')}}"><li>Discounts</li></a>
	    <a href="{{ path('CDEAffiliateBundle_index')}}?sort=l.id&direction=desc"><li>Affiliates</li></a>
        <a href="{{ path('CDEAffiliateBundle_report')}}"><li>Affiliate Report</li></a>
        <a href="{{ path('CDEUtilityBundle_utility_index')}}"><li>Utility</li></a>
    </ul>
{% endblock %}
