{% extends '::admin.html.twig' %}

{% block bottomNav %}
    <a href="{{ path('CDECartBundle_discount_update', { 'id': discount.id }) }}">
        <li>
            Back to Product Edit
        </li>
    </a>
    <a href="{{ path('CDECartBundle_discount_view', { 'id': discount.id }) }}">
        <li>
            Back to Product
        </li>
    </a>
{% endblock %}

{% block main %}
    <h1>Are you sure you want to delete {{ discount }}?</h1>
    <form action="{{ path('CDECartBundle_discount_delete', { 'id': discount.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Delete" />
    </form>
{% endblock %}
