<div class="background-gray1">
    <ul class="link-list">
        <li class="link-list-item">log in</li>
    </ul>
</div>
<div class="pure-g-r account-login padded-wrapper">
    <div id="login" class="pure-u-1">

        <form class="qv-form full-width-form centered" name="loginForm" action="{{ path("fos_user_security_check") }}" method="post">

            <div class="clearfix form-errors">
                <span class="form-error">{{ error }}</span>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input style="display: none" type="text" name="redirect" ng-model="redirect" />
            <input style="display: none" type="text" name="origin" ng-model="origin" />

            <div class="clearfix pure-g-r">
                <input
                    id="username"
                    class="pure-u-1"
                    type="text"
                    name="_username"
                    value="{{ last_username }}"
                    placeholder="Username..."
                    ng-required="true"
                    ng-model="login.username"
                    qv-focus
                />
            </div>

            <div class="clearfix pure-g-r">
                <input
                    id="password"
                    class="pure-u-1"
                    type="password"
                    name="_password"
                    placeholder="Password..."
                    ng-required="true"
                    ng-model="login.password"
                />
            </div>

            <div class="clearfix">
                <label class="inline-label pull-left" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                <input
                    id="remember_me"
                    class="pull-left"
                    type="checkbox"
                    name="_remember_me"
                    checked
                />
            </div>

            <div class="clearfix pure-g-r">
                <div class="pure-u-1-5">
                    <button
                        class="button-primary full-width"
                        type="submit"
                        id="_submit"
                        name="_submit"
                        value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
                    >{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                </div>
                <div class="pure-u-1-5 text-centered">
                    <a class="form-link" ui-sref="register">Register</a>
                </div>
                <div class="pure-u-1-5 text-centered">
                    <a class="form-link" ui-sref="reset">Reset Password</a>
                </div>
            </div>

        </form>

    </div>
</div>
