<div class="pure-g-r account-login padded-wrapper">
    <div id="login" class="pure-u-1">

        <form class="qv-form full-width-form centered" name="loginForm" action="{{ path("fos_user_security_check") }}" method="post">
            <h3 class="clearfix text-green2">Log In.</h3>

            <div class="clearfix form-errors">
                <span class="form-error">{{ error }}</span>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="clearfix pure-g-r">
                <input
                    id="username"
                    class="pure-u-3-5 pull-left"
                    type="text"
                    name="_username"
                    value="{{ last_username }}"
                    placeholder="Username..."
                    ng-required="true"
                    ng-model="login.username"
                    qv-focus
                />
            </div>

            <div class="clearfix pure-g-r">
                <input
                    id="password"
                    class="pure-u-3-5 pull-left"
                    type="password"
                    name="_password"
                    placeholder="Password..."
                    ng-required="true"
                    ng-model="login.password"
                />
            </div>

            <div class="clearfix pure-g-r">
                <label class="inline-label pull-left" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                <input
                    id="remember_me"
                    class="pull-left"
                    type="checkbox"
                    name="_remember_me"
                    checked
                />
            </div>

            <div class="clearfix pure-g-r">
                <div class="pure-u-1-5">
                    <button
                            class="button-primary full-width"
                            type="submit"
                            id="_submit"
                            name="_submit"
                            value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
                            ng-disabled="loginForm.$invalid"
                            >
                        {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                    </button>
                </div>
                <div class="pure-u-1-5 text-centered">
                    <a ui-sref="register">Register</a>
                </div>
                <div class="pure-u-1-5 text-centered">
                    <a ui-sref="reset">Reset Password</a>
                </div>
            </div>

        </form>

    </div>
</div>
